@import './colors.scss';

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.25;
$h3-font-size: $font-size-base * 1.1;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 0.9;
$h6-font-size: $font-size-base * 0.8;
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 990px);
$body-bg: $dark;
$body-color: $white;
$link-color: $primary;
$font-family-sans-serif: 'Montserrat','Helvetica Neue','Helvetica','Arial',sans-serif;
$font-size-base: 0.8rem;
$table-accent-bg: $gray-800;
$table-border-color: $gray-700;
$table-dark-bg: $gray-500;
$table-dark-border-color: darken($gray-500, 7.5%);
$table-dark-color: $body-bg;
$input-border-color: transparent;
$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-700;
$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: $gray-200;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$navbar-padding-y: 1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;
$navbar-light-color: rgba($white,.5);
$navbar-light-hover-color: $white;
$navbar-light-active-color: $white;
$navbar-light-disabled-color: rgba($white,.3);
$navbar-light-toggler-border-color: rgba($white,.1);
$pagination-color: $white;
$pagination-bg: $success;
$pagination-border-width: 0;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: lighten($success, 10%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($success, 15%);
$pagination-disabled-border-color: transparent;
$jumbotron-bg: $gray-800;
$card-cap-bg: $gray-700;
$card-bg: $gray-800;
$popover-bg: $gray-800;
$popover-header-bg: $gray-700;
$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;
$modal-header-border-color: $gray-700;
$progress-height: 0.625rem;
$progress-font-size: 0.625rem;
$progress-bg: $gray-700;
$list-group-bg: transparent;
$list-group-border-width: 0;
$list-group-border-color: $gray-700;
$breadcrumb-bg: $gray-700;
$close-color: $primary;
$close-text-shadow: none;
$pre-color: inherit;
$grid-columns: 24;
$border-radius: 0rem;
$input-bg: transparent;
$input-disabled-bg: transparent;
$input-color: $white;
$code-color: $secondary;
$code-bg: transparent;
$input-btn-focus-width: -0.1rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;
$list-group-hover-bg: #1E1F30;